body {
    position: absolute;
    height: 100%;
    width: 100%;
}

.backg{
    background-image: url('../images/4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 90%;
}

.btn, btn-default{
    height:60px;
    width:100%;
    opacity:1!important;
    padding: 0 15px;
    font-size: 15px;
    color:#303030;
    box-sizing:border-box;
    margin-top:5px;
}

.container{
    position:relative;
    height:100%;
}

.form-horizontal{
    /*border: 2px dashed red;*/
    /*margin:auto;
    width: 50%;
    background-color:#E55137;*/
    background-color: rgba(230,230,230,.4);
    padding: 10px;
    border-radius: 2px;
    margin-bottom: 90px;
    width: 320px;
    margin: 15% auto;
    position: relative;
}

/*.form-group{
   
    padding-left: 25%;
    padding-right: 25%;
}*/

.form-control{
    height: 60px;
    width: 100%;
    opacity: 1 !important;
    padding: 0 15px;
    font-size: 15px;
    color: #303030;
    box-sizing: border-box;
    margin-top: 5px;
}

label {
    font: 120%;
    color: #993366;
}

footer{
    height:10%;
    bottom:0%;
}